jsonpointer
m2r2
matplotlib>=3.5.1
mlx.traceability
numpy>=1.22.3
pillow
myst-parser==0.18.1
docutils==0.18.1
sphinx
sphinx_rtd_theme
sphinx-autoapi
sphinx-autodoc-typehints
sphinx-jsonschema!=1.19.0
sphinxcontrib-confluencebuilder
typing_extensions
